@use '../variables';

@layer components {
	.Breadcrumb {
		background-color: oklch(98.5% 0.002 247.839);
		border-block: 1px solid oklch(92.8% 0.006 264.531);
		padding-block: 0.75rem;
		padding-inline: 1rem;

		&__inner {
			margin-inline: auto;
		}

		&__items {
			align-items: center;
			display: flex;
			gap: 0.5rem;
		}

		&__item {
			align-items: center;
			display: flex;
			line-height: 1;
			gap: 0.5rem;
		}

		&__separator {
			color: oklch(70.7% 0.022 261.325);
			block-size: 1em;
			display: inline-block;
			inline-size: 1em;
		}

		&__link {
			color: oklch(44.6% 0.03 256.802) !important;
			text-decoration: none;
			word-wrap: nowrap;

			&[aria-current] {
				color: oklch(21% 0.034 264.665) !important;
			}

			&:hover {
				color: variables.$color--link;
				text-decoration: underline;
			}
		}
	}
}
