@use '../variables';

@layer components {
	.GetStarted {
		&__methods {
			@media screen and (min-width: 64rem) {
				display: grid;
				grid-template-columns: repeat(3, 1fr);
				width: 100%;
			}
		}

		&[data-has-title] {
			.GetStarted__methods {
				margin-block-start: 2rem;
			}
		}

		&__method {
			@media screen and (min-width: 64rem) {
				// TODO When typed attributes are allowed for this sort of thing.
				// background-image: attr(data-background-image);

				align-items: stretch;
				background-size: cover;
				display: flex;
				flex-direction: column-reverse;
				height: 25rem;
				padding: 32px;
			}

			a {
				max-width: 520px;

				@media screen and (min-width: 64rem) {
					margin-inline: unset;
				}
			}
		}

		&__method + &__method {
			margin-block-start: 1rem;

			@media screen and (min-width: 64rem) {
				margin-block-start: 0;
			}
		}
	}
}
