@layer components {
	.LogoList {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 30px;

		@media screen and (min-width: 1024px) {
			grid-template-columns: repeat(4, 1fr);

			// TODO Typed attr() will be nice here once available.
			&[data-cols='6'] {
				grid-template-columns: repeat(6, 1fr);
			}
		}
	}
}
