@use '../variables';

@layer components {
	.Pagination {
		display: flex;
		gap: 1rem;
		justify-content: center;
		margin-block-start: 3rem;

		&__pages {
			display: flex;
			gap: 0.5em;
		}

		&__link {
			&--previous,
			&--next {
				align-items: center;
				display: flex;
				gap: 0.25em;
			}

			&:hover,
			&[aria-current] {
				color: variables.$color--text !important;
				text-decoration: none;
			}

			&[aria-current] {
				// TODO !important
				color: variables.$color--text !important;

				&:hover {
					text-decoration: underline;
				}
			}
		}

		&__icon {
			block-size: 1em;
			inline-size: 1em;
		}
	}
}
