---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="About">
	<div class="SectionIndex">
		<header class="SectionIndex__header">
			<div class="container inline-centered">
				<h1 class="SectionIndex__title">About Protect Earth</h1>
				<p>Our mission and values</p>
			</div>
		</header>

		<nav>
			<div class="container inline-centered">
				<div class="SectionIndex__grid">
					<a href="/about/our-purpose">
						<strong>Our Purpose</strong>
						<span>Our mission and what drives us</span>
					</a>

					<a href="/about/meet-the-team">
						<strong>Meet the Team</strong>
						<span>The people behind Protect Earth</span>
					</a>

					<a href="/about/in-the-press">
						<strong>In the Press</strong>
						<span>Media coverage and press releases</span>
					</a>
				</div>
			</div>
		</nav>
	</div>
</Layout>
