---
import Layout from '../../layouts/Layout.astro';
import ContentHero from '../../components/ContentHero.astro';
import TakeAction from '../../components/TakeAction.astro';
import { getCollection } from 'astro:content';
import TeamMember from '../../components/TeamMember.astro';

const [memberCollection] = await getCollection('members');
const members = memberCollection.data ?? [];
---

<Layout title="Meet the Team">
	<!-- Hero Section with Background Image -->
	<ContentHero
		imgSrc="/hero-team.jpg"
		imgAlt="Dense forest with sunlight filtering through trees"
		title="Meet The Team"
	/>

	<!-- Team Members -->
	<section class="PageSection">
		<div class="PageSection__content">
			<div class="TeamMembers">
				{members.map((member) => <TeamMember {...member} />)}
			</div>
		</div>
	</section>

	<TakeAction />
</Layout>
