---
import Layout from '../../layouts/Layout.astro';
import CallToAction from '../../components/CallToAction.astro';
import ContentHero from '../../components/ContentHero.astro';
import TakeAction from '../../components/TakeAction.astro';
---

<Layout title="Our Purpose">
	<!-- Hero Section -->
	<ContentHero
		imgAlt="Two women smile and work together outdoors to plant a tree"
		imgSrc="/hero-our-purpose.jpg"
		title="Our Purpose"
	/>

	<!-- Main Content -->
	<div class="PageSection">
		<div class="PageSection__content prose">
			<p>
				Protect Earth is a registered charity in England and Wales. Our purpose is simple: we aim to
				plant, and help people plant, as many trees as possible in the UK to help mitigate the
				climate crisis.
			</p>

			<p>
				We work with landowners, environmental and voluntary organisations, and the general public
				to access land, plant trees and monitor their development.
			</p>

			<p>
				Founded in 2020, we work for the common good and are focused on action. We are also
				dedicated to good governance, with a transparent ethos. Every penny donated to us and spent
				is for one thing: preserving this planet for future generations.
			</p>

			<p>
				As well as sourcing land and planting trees, we assist with: resources and education,
				project management and ongoing support for the forests we have planted.
			</p>

			<p>
				Protecting the planet for future generations doesn't happen in a vacuum. We are proud to
				have formed strong relationships with housing developers, local authorities, professional
				funders, individual donors and NGOs.
			</p>

			<p>
				We are just getting started. We are working within the UK for now, but will eventually
				expand internationally. After all, the business of preserving our environment isn't the
				purview of any one country or group of people - it is a mission for all of humanity - the
				most challenging of the 21st century.
			</p>

			<p>
				To discuss how you can get involved, <a href="/contact">get in touch with us</a>.
			</p>
		</div>
	</div>

	<TakeAction />
</Layout>
