---
import Layout from '../../layouts/Layout.astro';
import ContentHero from '../../components/ContentHero.astro';
import ContentBlock from '../../components/ContentBlock.astro';
import TakeAction from '../../components/TakeAction.astro';
---

<Layout title="Businesses">
	<!-- Hero Section -->
	<ContentHero
		imgAlt="Two women planting trees in a field."
		imgSrc="/hero-businesses.jpg"
		title="Businesses"
	>
		<p>
			Ready to branch out? We offer businesses the chance to create lasting environmental impact
			while building stronger teams and greener communities. Whether planting trees with your
			colleagues, revitalising unused land or donating to our cause, we make it easy to level up
			your sustainability strategy.
		</p>
	</ContentHero>

	<!-- Brand Logos Section -->
	<section class="PageSection">
		<h2 class="PageSection__title">Some brands who have benefited from supporting us:</h2>

		<ul class="LogoList" data-cols="6">
			<li class="LogoList__item">
				<img class="LogoList__logo" src="/brand-absolute-vodka.png" alt="Absolut Vodka" />
			</li>
			<li class="LogoList__item">
				<img class="LogoList__logo" src="/brand-acer.png" alt="Acer" />
			</li>
			<li class="LogoList__item">
				<img class="LogoList__logo" src="/brand-capsule-cover.png" alt="Capsule Cover" />
			</li>
			<li class="LogoList__item">
				<img class="LogoList__logo" src="/brand-environment-agency.png" alt="Environment Agency" />
			</li>
			<li class="LogoList__item">
				<img class="LogoList__logo" src="/brand-google.png" alt="Google" />
			</li>
			<li class="LogoList__item">
				<img class="LogoList__logo" src="/brand-ovo-energy.png" alt="Ovo Energy" />
			</li>
			<li class="LogoList__item">
				<img class="LogoList__logo" src="/brand-reuseabox.png" alt="Reuseabox" />
			</li>
		</ul>
	</section>

	<!-- Corporate Volunteering Section -->
	<ContentBlock
		imgSrc="/businesses-volunteering.jpg"
		imgAlt="People planting young trees in a grassy field"
		linkHref="https://protectearthcio.notion.site/2c1e7dc6657c80d3b21ff727acd31056"
		linkTarget="_blank"
		linkText="Get Started →"
		title="Corporate Volunteering"
	>
		<p>
			Escape the office and bring your team out for a unique, environmentally-friendly experience!
			Our tree planting days offer the perfect opportunity for team building while supporting our
			mission.
		</p>
		<p>
			Many companies have joined us for these events, and together, we've planted as many as 2,000
			trees in a single day!
		</p>
		<p>
			Not only is this a rewarding way to contribute to your local area, but it's also a fantastic
			chance to capture some fun content for your socials. Our eco-experts will guide your team
			through the day – from what to bring, to the basics of tree planting, to carbon-reducing tips
			they can apply at home.
		</p>
	</ContentBlock>

	<!-- Sponsor Reforestation Section -->
	<ContentBlock
		imgSrc="/businesses-sponsor1.jpg"
		imgAlt="People planting trees on a grassy hillside"
		linkHref="/contact"
		linkText="Contact Us →"
		title="Sponsor Reforestation & Rewilding"
		isReversed
	>
		<p>
			Most of the work we do is done without government grants or any other form of funding, and
			donations only get us so far. Companies who want to plant trees or improve biodiversity in
			their area can sponsor an entire project, or a certain number of trees, or square meters of
			other work like ancient woodland restoration.
		</p>
		<p>
			This helps boost your company's sustainability credentials, demonstrate a commitment to
			combating climate change, and you can come out to help do the work if you fancy it.
		</p>
	</ContentBlock>

	<!-- Planting Your Land Section -->
	<ContentBlock
		imgSrc="/businesses-sponsor2.jpg"
		imgAlt="Group of people planting trees in a field"
		linkHref="/contact"
		linkText="Contact Us →"
		title="Planting Your Land"
	>
		<p>
			Got land sitting idle? Turn it into a productive carbon store and thriving habitat for
			wildlife!
		</p>
		<p>
			Whether you're a small business with a back garden or a large corporation with acres to spare,
			we can help transform your unused land into something extraordinary. Our ecologists will
			design a plan tailored to your site's potential, and be your guides in planting and ongoing
			maintenance.
		</p>
	</ContentBlock>

	<TakeAction />
</Layout>
