---
import GetStarted from '../../components/GetStarted.astro';
import Layout from '../../layouts/Layout.astro';
import ContentHero from '../../components/ContentHero.astro';
---

<Layout title="Get Involved">
	<!-- Hero Section -->
	<ContentHero title="Get Involved">
		<p>Join us in protecting Earth</p>
	</ContentHero>

	<section class="PageSection">
		<div class="PageSection__content">
			<GetStarted noTitle />
		</div>
	</section>
</Layout>
