---
import GetStarted from '../../components/GetStarted.astro';
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Get Involved">
	<section class="PageSection">
		<header class="PageSection">
			<h1 class="PageSection__title">Get Involved</h1>
			<p>Join us in protecting Earth</p>
		</header>

		<div class="PageSection__content">
			<GetStarted noTitle />
		</div>
	</section>
</Layout>
