---
import { getCollection } from 'astro:content';
import type { GetStaticPaths, Page } from 'astro';
import Layout from '../../layouts/Layout.astro';
import ContentHero from '../../components/ContentHero.astro';
import ArticleSummary from '../../components/ArticleSummary.astro';
import Pagination from '../../components/Pagination.astro';
import TakeAction from '../../components/TakeAction.astro';

export const getStaticPaths = (async ({ paginate }) => {
	const articles = (await getCollection('articles'))
		.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
		.map((post) => ({ slug: post.id, data: post.data }));

	return paginate(articles, { pageSize: 18 });
}) satisfies GetStaticPaths;

const { page } = Astro.props as { page: Page };
---

<Layout title="Articles" breadcrumb={page.currentPage > 1 ? `Page ${page.currentPage}` : ''}>
	<!-- Hero Section -->
	<ContentHero
		imgSrc="/hero-articles.jpg"
		imgAlt="People planting trees in an open field."
		title="Articles"
	/>

	<!-- Articles List -->
	<section class="page-sections wrap">
		<div class="grid">
			{page.data.map(({ slug, data: article }) => <ArticleSummary {...{ ...article, slug }} />)}
		</div>

		<!-- Pagination Controls -->
		{page.lastPage > 1 && <Pagination {...page} />}
	</section>

	<TakeAction />
</Layout>

<style>
	.grid {
		grid-template-columns: var(--grid-fill);
	}
</style>
