$color--primary: hsla(16.28, 87.85%, 58.04%);
$color--secondary: #ad0027;
$color--tertiary: rgb(39, 174, 0);
$color--quaternary: #3d0097;

$color--link: rgb(39, 174, 0);

$max--inline-size: 1200px;

$inline--sm: 40rem; // 640px
$inline--md: 48rem; // 768px
$inline--lg: 64rem; // 1024px
$inline--xl: 80rem; // 1280px
$inline--2xl: 96rem; // 1536px
