---
import ContentHero from '../components/ContentHero.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Events">
	<ContentHero title="Events">
		<p>
			Join us at one of our upcoming events. From tree planting to meadow maintenance, there's
			something for everyone.
		</p>
	</ContentHero>
</Layout>
