<nav class="PageSection GetStarted">
	<strong class="PageSection__title">Get Started</strong>

	<ul class="GetStarted__methods">
		<li class="GetStarted__method" data-background-image="/people-families-fundraising.jpg">
			<a class="block-link" href="/get-involved/people-families">People & Families</a>
		</li>
		<li class="GetStarted__method" data-background-image="/people-families-fundraising.jpg">
			<a class="block-link" href="/get-involved/businesses">Businesses</a>
		</li>
		<li class="GetStarted__method" data-background-image="/people-families-fundraising.jpg">
			<a class="block-link" href="/get-involved/landowners">Landowners</a>
		</li>
	</ul>
</nav>
