<header class="site-header wrap">
	<a href="/" title="Back to home page." class="logo">
		<img src="/logo.png" alt="Protect Earth" />
		<span class="visually-hidden">Protect Earth</span>
	</a>

	<a class="visually-hidden" href="#skip-to-content">Skip to content</a>

	<slot />
</header>
