<header class="PageHeader">
	<div class="container">
		<a href="/" title="Back to home page.">
			<img class="Logo" src="/logo.png" alt="" />
			<span class="visually-hidden">Protect Earth</span>
		</a>

		<a class="visually-hidden" href="#skip-to-content">Skip to content</a>

		<slot />
	</div>
</header>
