<section class="PageSection GetInvolved">
	<header class="PageSection__header" data-layout="full">
		<h2 class="PageSection__title">Help Protect Earth - Take Action Now</h2>
	</header>

	<div class="GetInvolved__methods">
		<section class="GetInvolvedMethod" data-variant="volunteer">
			<h3>Volunteer</h3>

			<div>
				<p>
					Help us create and maintain new woodlands, hedgerows and wildflower meadows! We need
					volunteers to sow seeds, plant saplings, clear invasive plant species and pick up litter.
					No qualifications necessary; jobs for all ages and abilities. Come and turn climate
					anxiety into climate action!
				</p>
			</div>

			<div class="GetInvolvedMethod__actions">
				<a class="block-link" href="/events">Upcoming Events</a>
			</div>
		</section>

		<section class="GetInvolvedMethod" data-variant="funding">
			<h3>Fund Our Work</h3>

			<div>
				<p>
					With government funding for reforestation and rewilding tenuous, we increasingly rely on
					our amazing community to keep us growing regardless of political shifts. Help Protect
					Earth continue to restore ecosystems and improve biodiversity across the country:
				</p>
			</div>

			<div class="GetInvolvedMethod__actions">
				<a class="block-link" href="/act-now/sponsor-trees">Sponsor Trees</a>
				<a class="block-link" href="/act-now/general-donation">Donate</a>
			</div>
		</section>

		<section class="GetInvolvedMethod" data-variant="land-fund">
			<h3>Support the Land Fund</h3>

			<div>
				<p>
					Help us put down roots! Your donations to our Land Fund let us seize the moment when the
					perfect piece of land comes up for sale. Every penny helps us secure community woodlands,
					healthier ecosystems, and a greener future for generations to come.
				</p>
			</div>

			<div class="GetInvolvedMethod__actions">
				<a class="block-link" href="/act-now/land-fund">Land Fund</a>
			</div>
		</section>
	</div>
</section>
