---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Act Now">
	<div class="SectionIndex">
		<header class="SectionIndex__header">
			<div class="container inline-centered">
				<h1 class="SectionIndex__title">Act Now</h1>
				<p>Take action to protect the Earth</p>
			</div>
		</header>

		<nav>
			<div class="container inline-centered">
				<div class="SectionIndex__grid">
					<a href="/act-now/sponsor-trees">
						<strong>Sponsor Trees</strong>
						<span>Fund tree planting and maintenance</span>
					</a>

					<a href="/act-now/general-donation">
						<strong>General Donation</strong>
						<span>Support our work</span>
					</a>

					<a href="/act-now/land-fund">
						<strong>Land Fund</strong>
						<span>Help us acquire land for conservation</span>
					</a>
				</div>
			</div>
		</nav>
	</div>
</Layout>
