---
// This page redirects to the external shop
---

<head>
	<meta http-equiv="refresh" content="0; url=https://shop.protect.earth/" />
	<script>
		window.location.href = 'https://shop.protect.earth/';
	</script>
	<title>Sponsor Trees | Protect Earth</title>
</head>

<html>
	<body style="font-family: system-ui, sans-serif; padding: 2rem; text-align: center;">
		<h1>Redirecting to shop.protect.earth...</h1>
		<p>
			If you are not redirected, <a href="https://shop.protect.earth/" style="color: #2563eb;"
				>click here</a
			>.
		</p>
	</body>
</html>
