---
import '@fontsource-variable/lexend/wght.css';
import '../styles/global.scss';
import '../styles/global.css';

import Head from '../components/Head.astro';
import Navigation from '../components/Navigation.astro';
import Breadcrumbs from '../components/Breadcrumbs.astro';
import PageHeader from '../components/PageHeader.astro';
import Footer from '../components/Footer.astro';
import { siteConfig } from '../config';
const { tagline } = siteConfig;

interface Props {
	title: string;
	description?: string;
	breadcrumb?: string;
	className?: string;
}

const { title, description = tagline, breadcrumb = '', className = '' } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<Head title={title} description={description} />
	</head>
	<body class={className}>
		<PageHeader>
			<Navigation />
		</PageHeader>

		<Breadcrumbs activeLabel={breadcrumb} />

		<main id="content">
			<slot />
		</main>

		<Footer />
	</body>
</html>
